body {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);    
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    
}

.container {
  border: 2px solid #b3ccff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
  max-width: 500px;
  margin: auto;

}

h1 {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,181,163,1) 37%, rgba(62,127,24,1) 55%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color:  rgb(30, 3, 146);
  font-size: 30px;
  font-family: 'Trebuchet MS', sans-serif;
}

h2 {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(66,121,9,1) 37%, rgba(62,127,24,1) 55%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(30, 3, 146);
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

h4 {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(66,121,9,1) 37%, rgba(62,127,24,1) 55%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgb(30, 3, 146);
  font-size: 20px;
  text-decoration: underline;  
  font-family: 'Trebuchet MS', sans-serif;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 150px;
  }
  button {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Trebuchet MS', sans-serif;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
button:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
button:active {
	position:relative;
	top:1px;
}